/**
 * A Sample CSS File
 * This would demonstrate how to add an external CSS file
 */

.external {
	background-color: #ccffcc;
	margin: 40px auto;
	padding: 20px;
	width: 80%;
	border: 1px solid #336633;
}

/* Some advanced stuff to show you how cool it can get */
p {
	margin: 0;
	padding: 0;
}

div {
	border-radius: 10px;
	-webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), inset 0px 0px 3px rgba( 0, 0, 0, 0.2 );
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), inset 0px 0px 3px rgba( 0, 0, 0, 0.2 );
	position:relative;
}

div:before, div:after
{
	content:"";
    position:absolute;
    z-index:-1;
    -webkit-box-shadow:0 0 10px rgba(0,0,0,0.4);
    -moz-box-shadow:0 0 10px rgba(0,0,0,0.4);
    box-shadow:0 0 10px rgba(0,0,0,0.4);
    top:0;
    bottom:0;
    left:10px;
    right:10px;
    -moz-border-radius:100px / 10px;
    border-radius:100px / 10px;
}
div:after
{
	right:10px;
    left:auto;
    -webkit-transform:skew(8deg) rotate(3deg);
       -moz-transform:skew(8deg) rotate(3deg);
        -ms-transform:skew(8deg) rotate(3deg);
         -o-transform:skew(8deg) rotate(3deg);
            transform:skew(8deg) rotate(3deg);
}
